{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.email.first) }}
        {{ form_row(registrationForm.email.second) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
