{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

  <section class="home px_bg1">
    <h1>Site Musique</h1>
    <a href="#biographie"><i class="fas fa-angle-double-down"></i></a>
  </section>

  <section id="biographie" class="biographie">
      <div class="wrap">
          <p class="section_text">
          Victor Hugo est un poète, dramaturge et prosateur romantique français, né le 26 février 1802 à Besançon et mort le 22 mai 1885 à Paris. Il est considéré comme l'un des plus importants écrivains de langue française. Il est aussi une personnalité politique et un intellectuel engagé qui a joué un rôle majeur dans l'histoire du XIXe siècle.
          Victor Hugo occupe une place marquante dans l'histoire des lettres françaises au XIXe siècle, dans des genres et des domaines d'une remarquable variété. Il est poète lyrique avec des recueils comme Odes et Ballades (1826), Les Feuilles d'automne (1831) ou Les Contemplations (1856), mais il est aussi poète engagé contre Napoléon III dans Les Châtiments (1853) ou encore poète épique avec La Légende des siècles (1859 et 1877).
          Il est également un romancier du peuple qui rencontre un grand succès populaire avec notamment Notre-Dame de Paris (1831), et plus encore avec Les Misérables (1862). Au théâtre, il expose sa théorie du drame romantique dans sa préface de Cromwell en 1827 et l'illustre principalement avec Hernani en 1830 et Ruy Blas en 1838, mais aussi Lucrèce Borgia et Le Roi s'amuse.
          Son ouvre multiple comprend aussi des discours politiques à la Chambre des pairs, à l'Assemblée constituante et à l'Assemblée législative, notamment sur la peine de mort, l'école ou l'Europe, des récits de voyages (Le Rhin, 1842, ou Choses vues, posthumes, 1887 et 1890), et une correspondance abondante.
          Victor Hugo a fortement contribué au renouvellement de la poésie et du théâtre. Il a été admiré par ses contemporains et l'est encore, mais il a aussi été contesté par certains auteurs modernes. Il a également permis à de nombreuses générations de développer une réflexion sur l'engagement de l'écrivain dans la vie politique et sociale grâce à ses multiples prises de position, lesquelles l'ont condamné à l'exil pendant les vingt ans du Second Empire.
          Ses choix, à la fois moraux et politiques, durant la deuxième partie de sa vie, et son ouvre hors du commun ont fait de lui un personnage emblématique, que la Troisième République a honoré par des funérailles nationales, qui ont accompagné le transfert de sa dépouille au Panthéon de Paris le 1er juin 1885, dix jours après sa mort.
          </p>
      </div>
      <a href="#musique"><i class="fas fa-angle-double-down"></i></a>
  </section>

  <div class="px_bg2"></div>

  <section id="musique" class="musique">
    <div class="wrap">
      <div class="container">
        <audio id="audio" preload="none" tabindex="0">
                <source src="https://archive.org/download/calexico2006-12-02..flac16/calexico2006-12-02d1t02.mp3" data-track-number="1" />
                <source src="https://archive.org/download/ra2007-07-21/ra2007-07-21d1t05_64kb.mp3" data-track-number="2" />
                <source src="https://archive.org/download/slac2002-02-15/slac2002-02-15d1t07_64kb.mp3" data-track-number="3" />
                <source src="https://archive.org/download/blitzentrapper2009-02-24.flac16/blitzentrapper2009-02-24t02_64kb.mp3" data-track-number="4" />
                <source src="https://archive.org/download/samples2003-11-21.flac16/samples2003-11-21d2t04.mp3" data-track-number="5" />
                <source src="https://archive.org/download/mikedoughty2004-06-16.flac16/d1t13.mp3" data-track-number="6" />
                <source src="https://archive.org/download/glove2004-03-18.shnf/glove2004-03-18d1t05.mp3" data-track-number="7" />
                <source src="https://archive.org/download/guster2005-11-12.flac16/guster2005-11-12d2t04.mp3" data-track-number="8" />
                <source src="https://archive.org/download/oar2004-11-12.flac/oar2004-11-12d1t01.mp3" data-track-number="9" />
                <source src="https://archive.org/download/mmj2003-09-26.shnf/mmj2003-09-26d2t08.mp3" data-track-number="10" />
                Your browser does not support HTML5 audio.
        </audio>

        <div class="player">

          <div class="large-toggle-btn">
            <i class="large-play-btn"><span class="screen-reader-text">Large toggle button</span></i>
          </div>
          <!-- /.play-box -->

          <div class="info-box">
            <div class="track-info-box">
              <div class="track-title-text"></div>
              <div class="audio-time">
                <span class="current-time">00:00</span> /
                <span class="duration">00:00</span>
              </div>
            </div>
            <!-- /.info-box -->

            <div class="progress-box">
              <div class="progress-cell">
                <div class="progress">
                  <div class="progress-buffer"></div>
                  <div class="progress-indicator"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- /.progress-box -->

          <div class="controls-box">
            <i class="previous-track-btn disabled"><span class="screen-reader-text">Previous track button</span></i>
            <i class="next-track-btn"><span class="screen-reader-text">Next track button</span></i>
          </div>
          <!-- /.controls-box -->

        </div>

        <!-- /.player -->

        <div class="play-list">

          <div class="play-list-row" data-track-row="1">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              1.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="1">Calexico - Across The Wire</a>
            </div>
          </div>
          <div class="play-list-row" data-track-row="2">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              2.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="2">Ryan Adams &amp; The Cardinals - Cold Roses</a>
            </div>
          </div>
          <div class="play-list-row" data-track-row="3">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              3.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="3">The Slackers - Married Girl</a>
            </div>
          </div>
          <div class="play-list-row" data-track-row="4">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              4.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="4">Blitzen Trapper - Saturday Night</a>
            </div>
          </div>
          <div class="play-list-row" data-track-row="5">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              5.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="5">The Samples - Feel Us Shaking</a>
            </div>
          </div>
          <div class="play-list-row" data-track-row="6">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              6.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="6">Mike Doughty - American Car</a>
            </div>
          </div>
          <div class="play-list-row" data-track-row="7">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              7.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="7">G. Love &amp; Special Sauce - Dreamin'</a>
            </div>
          </div>
          <div class="play-list-row" data-track-row="8">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              8.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="8">Guster - Amsterdam</a>
            </div>
          </div>
          <div class="play-list-row" data-track-row="9">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              9.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="9">O.A.R. - About Mr. Brown</a>
            </div>
          </div>
          <div class="play-list-row" data-track-row="10">
            <div class="small-toggle-btn">
              <i class="small-play-btn"><span class="screen-reader-text">Small toggle button</span></i>
            </div>
            <div class="track-number">
              10.
            </div>
            <div class="track-title">
              <a class="playlist-track" href="#" data-play-track="10">My Morning Jacket - Phone Went West</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#events"><i class="fas fa-angle-double-down"></i></a>
  </section>

  <div class="px_bg3"></div>

  <section id="events" class="events">
    <div class="wrap">
      <p class="title-events">Evenements</p>

      <table class="table">
        <tr>
            <th>Titre</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        {% for event in events %}
        <tr>
            <td>{{ event.titre }}</td>
            <td>{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <a href="#photo"><i class="fas fa-angle-double-down"></i></a>
  </section>

  <div class="px_bg4"></div>

  <section id="photo" class="photo">
    <div class="row">
        <div class="col-lg-10 offset-lg-1" id="slider">
            <div id="myCarousel" class="carousel slide">
                <!-- main slider carousel items -->
                <div class="carousel-inner">
                    <div class="active carousel-item" data-slide-number="0">
                        <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="1">
                        <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="2">
                        <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="3">
                        <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                    </div>
                    <div class="carousel-item" data-slide-number="4">
                        <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                    </div>

                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
                <!-- main slider carousel nav controls -->


                <ul class="carousel-indicators list-inline mx-auto border px-2">
                    <li class="list-inline-item active">
                        <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                            <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                            <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                            <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-3" data-slide-to="3" data-target="#myCarousel">
                            <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a id="carousel-selector-4" data-slide-to="4" data-target="#myCarousel">
                            <img src="http://dibyz-music.com/wp-content/uploads/2015/11/Mary_1-1200x480.jpg" class="img-fluid">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="#contact"><i class="fas fa-angle-double-down"></i></a>
  </section>

  <div class="px_bg5"></div>

  <section id="contact">
    <p class="title-contact">Contact<p>

      {{ form_start(form_contact) }}
        <div class="row justify-content-md-center">
          <div class="col col-lg-3">
            <div class="form-group">
              {{ form_row(form_contact.titre) }}
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col col-lg-3">
            <div class="form-group">
              {{ form_row(form_contact.mail) }}
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col col-lg-4">
            <div class="form-group">
              {{ form_row(form_contact.resquest) }}
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
            <div class="form-group">
              {{ form_row(form_contact.raison_sociale) }}
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="form-group checkbox-contact">
            <input class="form-check-input" type="checkbox" class="form-control" required="true">Confimer l'envoie
          </div>
        </div>

        <button class="btn btn-primary btn-lg btn-contact">Envoyer</button>

      {{ form_end(form_contact) }}
    </section>

    <div class="px_bg6"></div>

{% endblock %}
