{% extends 'admin.html.twig' %}

{% block title %}Playlist index{% endblock %}

{% block body %}
    <h1>Playlist <a class="btn btn-info" href="{{ path('playlist_new') }}">Rajouter une chanson</a></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Link</th>
                <th>Edition</th>
                <th>Supression</th>
            </tr>
        </thead>
        <tbody>
        {% for playlist in playlists %}
            <tr>
                <td>{{ playlist.titre }}</td>
                <td>{{ playlist.link }}</td>
                <td><a <a class="btn btn-success" href="{{ path('playlist_edit', {'id': playlist.id}) }}">éditer</a></td>
                <td>{{ include('playlist/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
