<!DOCTYPE html>
<html>
      <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>{% block title %}Site musique{% endblock %}</title>

          {% block stylesheets %}
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
          <link rel="stylesheet" href="{{ asset("assets/css/audio.css") }}">
          <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
          {% endblock %}
      </head>
      <body id="top">
        <header id="header">
            <nav>
                <ul>
                    <li><a href="#top">Accueil</a></li>
                    <li><a href="#biographie">Biographie</a></li>
                    <li><a href="#musique">Musique</a></li>
                    <li><a href="#events">Evenement</a></li>
                    <li><a href="#photo">Galerie Photos</a></li>
                    <li><a href="#contact">Contact</a></li>
                    {% if (is_granted('ROLE_ADMIN') == true) %}
                        <li><a href="{{ path('admin') }}">Admin</a></li>
                    {% endif %}
                    {% if  (is_granted('ROLE_USER') == false) and (is_granted('ROLE_ADMIN') == false)  %}
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    {% else %}
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% block body %}{% endblock %}

        {#<div class="px_bg5"></div>#}
        <footer id="footer">
            <div class="wrap">
                <div class="footer_container">
                    <div class="footer_item footer_item1">
                        <h2>Guide</h2>
                        <ul>
                            <li><a href="#">Mention Legal</a></li>
                            <li><a href="#">Besoin d'aide ?</a></li>
                        </ul>
                    </div>
                    <div class="footer_item footer_item2">
                        <h2>Suivez nous !</h2>
                        <ul>
                            <li><a href="#"><img src="assets/img/ico_facebook.png" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/ico_twitter.png" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/ico_instagram.png" alt=""></a></li>
                        </ul>

                    </div>
                    <div class="footer_item footer_item3">
                        <h2>lorem psudum</h2>
                        <ul>
                            <li><a href="">idpus testus</a></li>
                            <li><a href="">posterus jiuduf</a></li>
                            <li><a href="">heater podious</a></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright"> Webyo.io @copyright tout droit réservé</p>
            </div>
        </footer>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="{{ asset("assets/js/audio.js") }}"></script>
        {% endblock %}
    </body>
</html>
